body {
  margin: 0;
  font-family: sans-serif;
}

ul, li, h1, h2, h3, h4, span {
  margin: 0;
  padding: 0;
  color: #5a5a5a;
}


.force-diagram {
  width: 100%;
  height: 100%;
}

.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

.d3-tip {
    line-height: 1;
    padding: 6px;
    background-color: white;
    color: black;
    border: 1px solid lightgrey;
    border-radius: 4px;
    font-size: 12px;
  }

  .tool-tip-box {
  	position: absolute;
    bottom: 0;
    width: 230px;
    left: -125px;
    font-size: 12px;
    line-height: 16px;
    padding: 10px;
    border-radius: 3px;
    background: rgba(255,255,255,.95);
    color: #000;
    box-shadow: 0 1px 5px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.4);
    border: 1px solid rgba(200,200,200,0.85);
    text-align: center;
  }

.tt-tail {
	 position: absolute;
    bottom: -8px;
    left: 110px;
    width: 40px;
    height: 8px;
    background: url(https://static01.nyt.com/packages/images/newsgraphics/2012/0202-federal-budget/tail_white.png) 50% 0%;
}

.node-name {
	font-size: 15px;
}

   .toolTip {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        position: absolute;
        display: none;
        width: auto;
        height: auto;
        background: none repeat scroll 0 0 white;
        border: 0 none;
        border-radius: 8px 8px 8px 8px;
        box-shadow: -3px 3px 15px #888888;
        color: black;
        font: 12px sans-serif;
        padding: 5px;
        text-align: center;
    }

    text {
        font: 15px sans-serif;
        color: white;
    }
    text.value {
        font-size: 120%;
        cursor: default;
        /*fill: white;*/
    }

    .axisHorizontal path{
        fill: none;
    }

    .axisHorizontal .tick line {
        stroke-width: 1;
        stroke: rgba(0,   0, 0, 0.2);
    }

    .bar {
        fill-opacity: .95;
    }

    text.label {
      font-size: 80%;
      cursor: default;
    }


    .neighborhood-list {
      list-style: none;
      display: block;
      /*text-align: center;*/
      margin: auto;
    }

    .graph-container {
      width: 60%;
      float: right
    }

    .room-stats {
      float: left;
      width: 30%;
      margin-left: 10px;
      text-align: left;
    }

    .individual-stats-container::after{
      display: block;
      content: "";
      clear: both;
      /*justify-content: space-between;*/
      /*display: inline-block;*/
      /*margin: 10px;*/
      /*float: center;*/
    }

.bar:hover .rect-bar{
  fill: #006bcc;
}

.bar:hover .value{
  fill: #FFFFFF;
}

.sidebar {
  height: calc(100vh - 66px);
  width: 29%;
  float: right;
  padding: 0;
  border-left: lightgrey solid 1px;
  /*overflow: scroll;*/
  position: relative;
}

.bar-graph {
  width: 95%;
  float:left;
}

.main {
  height: calc(100vh - 66px);
  width: 70.9%;
  float: left;
  text-align: center;
}

.header-logo {
  margin: 0;
}

.main-nav-bar {
  margin: 0;
  height: 65px;
  border-bottom: 1px solid lightgrey;
  display: flex;
  justify-content: space-between;
}

.nav-bar-logo {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 5px;
}

.main-title {
  position: fixed;
  margin: auto;
  top: 60px;
  left: 10px;
}

.filter-container {
  width: 100%;
  /*background-color: #e6e6e6;*/
  /*border-bottom: 1px solid lightgrey;*/
  height: 130px;
  position: absolute;
  box-shadow: 0px 1px 3px #aaaaaa;
  /*opacity: 0.8;*/

}

.Select {
  width: 90%;
  left: 10px;
  right: 10px;
  top: 30px;
  opacity: 1;
}

.stats-container {
  position: absolute;
  top: 130px;
  padding: 10px;
  overflow: auto;
  bottom: 0;
  right: 0;
  left: 0;
  /*background-color: #f5f5f5;*/
}

.filter-label {
  position: relative;
  top: 25px;
  left: 12px;
}

.stats-lead-metric {
  color: #4b4b4b;
  font-size: 2em;
  font-weight: 800;

}

.stats-title {
  color: #4b4b4b;
  font-size: 0.8em;
  margin-bottom: 0.3em;
}

.stats-metric {
  color: #4b4b4b;
  font-size: 1.1em;
  font-weight: bold;
  /*margin-bottom: 1em;*/
}

.neighborhood-name {
  margin-top: 15px;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 15px;
  margin-left: 10px;
}

.stats-item-data {
  margin-bottom: 25px;
}

.graph-title {
  text-align: center;
  font-size: 1.1em;
}

.stats-container-title {
  margin-left: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 2em;
}

.ReactModal__Content--after-open {
    width: 500px;
    height: 625px;
    margin: 0 auto;
    margin-top: 50px;
    transition: width 1000ms ease-in;
 }

 .ReactModal__Overlay--after-open {
  z-index: 500 !important;
 }

.user-pic {
  width: 30%;
  margin: auto;
}

.about-text {
  font-family: 'Sailec Regular', sans-serif;
  margin: 5px;
  padding: 5px;
}

.about-section {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.about-title {
  font-family: 'Sailec Regular', sans-serif;
  margin: 5px;
  padding: 5px;
  text-align: center;
}

.about-header {
  cursor: pointer;
}

.header-modals {
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0;
}

.force-legend {
  position: fixed;
  bottom: 0;
  left: 0;
}

.axisHorizontal-legend text {
  font-size: 10px;
}

.axisHorizontal-legend path{
  fill: none;    
}

.axisHorizontal-legend .domain{
  stroke: none;    
}

.axisHorizontal-legend .tick line {
  stroke-width: 1;
  stroke: rgba(0,   0, 0, 0.2);
}